*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{

    background-color: white;
    height: 80%;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
}
.content1 img {
    width: 500px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.content2{
    margin-left: 140px;
}
.content3{
    margin-left: 30px;
}
.content4{
    display: flex;
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
    width: 400px;
    margin-left: 40px ;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
}
.item1 img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
.item3{
    padding-left: 100px;
}
#payment{
    height: 80px;
    width: 400px;
    margin-left: 40px ;
    border-radius: 10px;
    background-color: rgba(0, 0, 139, 0.911);
    color: white;
    box-shadow: 0px 10px 20px rgba(28, 31, 32, 0.625);
}
.content6{
    padding-left: 170px;
    font-size: 1.15rem;
    font-weight: bolder;
}
.content6 a{
    text-decoration: none;
}